* {
  background-color: rgb(191, 191, 191);
}

h1 {
  font-size: 3em;
  text-align: center;
  background:rgb(142, 153, 160);
  padding: 10px;
  width: 50%;
  margin: auto;
}

p{
  text-align: center;
  background-color: rgb(110, 115, 135);
  margin-top: 2em;
  font-size: 2em;
}

h2 {
  background-color: rgb(43, 43, 125);
  font-size: 2em;
  width: 22%;
  color: rgb(0, 0, 0);
}
